<form [formGroup]="createProductForm" (ngSubmit)="onSubmit()">

  <div class="w-100 bg-white rounded-2xl p-4 py-8 " *ngIf="formStep == 'form1' ">

    <div class="grid grid-cols-4 sm:gap-4 md:gap-4 my-6 ">
      <div class="sm:col-span-3 md:col-span-3 col-span-2 border-l-3 border-left-primary ">
        <p class="text-blueGray-800 m-5 font-semibold">Step 1</p>
        <p class=" text-blueGray-800 my-4 font-bold m-5 sm:text-lg md:text-lg text-lg ">Product Information</p>
      </div>
      <div class="text-center col-span-2 sm:col-span-1 md:col-span-1 hidden sm:block md:block ">
        <div
          class="rounded-md bg-blueGray-800 text-white font-bold sm:py-3 md:py-3 py-1 md:px-8 sm:px-8 px-3 w-50 text-ms sm:text-md cursor-pointer text-center "
          (click)="nextForm()"> Save & Continue </div>
      </div>
    </div>

    <div class="sm:grid md:grid grid-cols-4 gap-4">
      <div class="bg-blueGray-200 rounded-lg p-4 flex">
        <div class="w-100 flex m-auto  my-6">
          <div class="m-auto">

            <div class="text-center text-3xl mb-3 ">
              <!-- <label for="actual-btn"><i  class='fas text-3xl text-blueGray-500 '>&#xf030;</i></label> -->
            </div>

            <input name="photo" style="display: none" id="actual-btn" type="file" class="form-control" (change)="onFileChange($event)" #hiddenfileinput>
            <button (click)="hiddenfileinput.click()" class="bg-blueGray-700 rounded shadow-md text-white text-md py-2 px-4"  >
              <span *ngIf="!imageSelected" class="text-sm font-semibold" >
                Select Product Image
              </span>
              <span *ngIf="imageSelected" class="text-sm font-semibold" >
                <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100px; width:200px">
              </span>

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
              </svg>
            </button>


          </div>
        </div>
      </div>
      <div class="col-span-3 ">
        <div class="w-100 ">
          <div>
            <p class="font-bold">Product Name</p>
            <input
              class=" form-control appearance-none block w-full bg-white text-gray-700 border border-blueGray-500 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              type="text" formControlName="product_name" placeholder="Enter Product Name">
          </div>
          <div>
            <p class="font-bold">Producer Name</p>
            <input
              class="form-control appearance-none block w-full bg-white text-gray-700 border border-blueGray-500 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              type="text" formControlName="producer_name">
          </div>

          <div>
            <p class="font-bold">Producer Description</p>
            <textarea
              class="form-control appearance-none block w-full bg-white text-gray-700 border rounded-lg py-6 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              rows="5" formControlName="product_description" placeholder="Enter Proucer Description"></textarea>
          </div>

          <div
          class="rounded-md bg-blueGray-800 text-white font-bold sm:py-3 md:py-3 py-2 md:px-8 sm:px-8 px-3 w-50 text-ms sm:text-md cursor-pointer text-center block sm:hidden md:hidden "
          (click)="nextForm()"> Save & Continue </div>


        </div>



      </div>

    </div>


  </div>
  <div class="bg-white rounded-lg p-4 my-8" *ngIf="formStep == 'form2' ">
    <div class="grid grid-cols-4 gap-4 my-6 ">
      <div class="col-span-3 border-l-3 border-left-primary ">
        <p class="text-blueGray-800 m-5 font-semibold ">Step 2</p>
        <p class=" text-blueGray-800 my-4 font-bold m-5 text-lg">Batch Information</p>
      </div>
      <div class="text-center">
        <button [disabled]="loading"
          class="hidden sm:block md:block bg-blueGray-700  text-white active:bg-blueGray-700 text-md font-bold px-8 py-2 rounded-md hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">

          <span *ngIf="loading">
            <img class="inline-flex "
              src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </span>


          <span *ngIf="!loading">Save & Submit</span>
        </button>
      </div>
    </div>
    <div class="my-4">
      <div class="sm:grid md:grid grid-cols-3 gap-4">
        <div>
          <p class="font-bold">FDA Number</p>
          <input
            class="form-control appearance-none block w-full bg-white text-gray-700 border border-blueGray-500 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            type="text" formControlName="FDA_number" placeholder="Enter NAFDAC number">
        </div>
        <div>
          <p class="font-bold">Production Date</p>
          <input
            class="form-control appearance-none block w-full bg-white text-gray-700 border border-blueGray-500 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            formControlName="production_date" type="date" placeholder="Enter Prouction Date">
        </div>
        <div>
          <p class="font-bold">Expiry Date</p>
          <input
            class="form-control appearance-none block w-full bg-white text-gray-700 border border-blueGray-500 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            type="date" formControlName="expiry_date" placeholder="Product
                        Production Date" placeholder="Enter Expiry Date">
        </div>
      </div>
    </div>
    <div class="my-4">
      <div class="sm:grid md:grid grid-cols-3 gap-4">

        <div>
          <p class="font-bold">Product Category</p>
          <select
            class="form-control block bg-white text-gray-700 border border-blueGray-500 rounded-lg py-3 px-4 mb-3 leading-tight w-full "
            formControlName="product_category">
            <option value="organic">Organic</option>
            <option value="synthetic">Synthetic</option>
            <option value="hybrid">Hybrid</option>
          </select>
        </div>

        <div>
          <p class="font-bold">Batch Number</p>
          <input
            class="form-control appearance-none block w-full bg-white text-gray-700 border border-blueGray-500 rounded-lg py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
            type="text" formControlName="batch_num" placeholder="Product Batch Number">
        </div>
        <div class="">
          <p class="font-bold">Select Code Format</p>

          <select class="border border-blueGray-700 rounded-lg bg-white px-4 py-2 w-full mb-3 "
            (change)="selectCode($event.target.value)">
            <option value="qr_code">
              QR code
            </option>
            <option value="matrix_code">
              Matrix Code
            </option>
          </select>
        </div>
      </div>

    </div>
    <button [disabled]="loading"
          class="block sm:hidden md:hidden bg-blueGray-700  text-white active:bg-blueGray-700 text-md font-bold px-12 py-2 rounded-md hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">

          <span *ngIf="loading">
            <img class="inline-flex "
              src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </span>


          <span *ngIf="!loading">Save & Submit</span>
        </button>

  </div>


</form>
