<!-- Navbar -->
<!-- <nav class=" top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-nowrap md:justify-start flex items-center p-4">
  <div class="w-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4">
   
    <a
      class="md:block text-left md:pb-0 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-0 px-0">
      <span class="block sm:hidden"> Chekkit C/I </span>
      <span class="hidden sm:block">
        <img alt="..." class=" align-middle border-none" style="height: 50px;"
          src="../../../../assets/img/chekkitlogoo 2.png" /></span>
    </a>


  </div>
</nav> -->

<div class="w-full text-center mt-3 ci-container">
  <h5 class="text-2xl  text-center font-normal leading-normal mt-0 mb-2 font-bold pt-6 text-blueGray-800">
    Great to have you here!
  </h5>
  <br>
  <h5 class="text-blueGray-600" >We will get you started in 3 Steps:</h5>
</div>

<!-- <div class="w-100 flex px-4"> -->
  
<div class="onboarding-steps w-full lg:w-full p-auto text-center px-8 mt-12 sm:flex md:flex lg:flex lg:justify-between lg:w-100 ">
  <div class="m-8 text-left">
    <h2 class="font-semibold text-4xl text-blueGray-600 mb-6">
      1
    </h2>
    <h3 class="font-semibold  text-blueGray-600">Upload Contacts</h3>
    <hr class="divider mt-3 mb-3">
    <p class="text-blueGray-600">Upload Contacts</p>
  </div>
  <div class="py-16 text-center hidden sm:block lg:block  " >
    <i style="font-size:24px" class="fa text-blueGray-800">&#xf138;</i>
  </div>
  <div class="m-8 text-left">
    <h2 class="font-semibold text-4xl text-blueGray-600 mb-6">
      2
    </h2>
    <h3 class="font-semibold  text-blueGray-600">Setup Surveys</h3>
    <hr class="divider mt-3 mb-3">
    <p class="text-blueGray-600">Setup surveys you'd like to<br> send to your customers.</p>
  </div>
  <div class="py-16 text-center hidden sm:block lg:block  " >
    <i style="font-size:24px" class="fa text-blueGray-800 ">&#xf138;</i>
  </div>
  <div class="m-8 text-left" >
    <h2 class="font-semibold text-4xl text-blueGray-600 mb-6">
      3
    </h2>
      <h3 class="font-semibold  text-blueGray-600" >Load Your Wallet</h3>
      <hr class="divider mt-3 mb-3">
      <p class="text-blueGray-600" >Load Your Wallet</p>
  </div>
</div>

<!-- </div> -->

<div class="w-100 text-center mt-8" >
  <button class="bg-blueGray-800 hover:bg-blueGray text-white text-sm font-bold hover:shadow-lg mt-8 w-80  px-6 py-3 border-2 border-blue hover:border-transparent rounded-md" (click)="goToEngage()" >
    Get Started
  </button>
</div>
