<div class="flex flex flex-row w-full lg:w-12/12 mt-4">
    <div class="w-full mb-12 px-4">
        <div class="relative page-content px-8 flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
        ngClass="bg-sap"
        >
            <div class="block w-full px-4">      
                <div class="flex mb-12 justify-center">
                    <h2 class="title"><span class="chekkit">Chekkit</span> + <span class="sap">SAP</span></h2>
                </div>
                   <div class="flex flex-wrap mb-12">
                    <div class="w-full flex-1 lg:w-4/12 px-4 pt-1 text-center">
                        <div class="relative w-full mb-3">
                          <div class="card-selector card-selector-row bg-white  flow" routerLink="/sap/connect"> 
                              <div>
                                <p class="flow-text">Flow 1</p>
                              </div>
                              <div>
                                <img
                                    alt="Logo"
                                    src="assets/img/circle.png"
                                    class="mid"
                                />
                            </div>
                          </div>
                        </div> 
                    </div> 

                    <div class="w-full flex-1 lg:w-4/12 px-4 pt-1 text-center">
                        <div class="relative w-full mb-3">
                          <div class="card-selector card-selector-row bg-white  flow" routerLink="/authentication/sap-signup"> 
                              <div>
                                <p class="flow-text">Flow 2</p>
                              </div>
                              <div>
                                <img
                                    alt="Logo"
                                    src="assets/img/circle.png"
                                    class="mid"
                                />
                            </div>
                          </div>
                        </div>
                    </div>

                        <div class="w-full flex-1 lg:w-4/12 px-4 pt-1 text-center">
                            <div class="relative w-full mb-3">
                              <div class="card-selector card-selector-row bg-white  flow" routerLink="/sap/analytics">
                                  <div>
                                    <p class="flow-text">Analytics</p>
                                  </div>
                                  <div>
                                    <img
                                        alt="Logo"
                                        src="assets/img/circle.png"
                                        class="mid"
                                    />
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div> 
        </div>
    </div>
  </div>
  