<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
        <div class="relative page-content px-8 flex min-w-0 break-words w-full mb-6 shadow-lg rounded"
            ngClass="bg-white">
            <div class="block w-full overflow-x-auto px-4">
                <div class="flex mb-12 justify-center">
                    <h2 class="title"><span class="sap">Quicklinks for you</span></h2>
                </div>


                <div class="flex flex-wrap mb-8 justify-center">
                    <div class="w-full lg:w-4/12 pt-1 text-center " (click)="goToAnalytics()" >
                        <div class="relative w-full mb-3 ">
                            <div class="card-selector card-selector-row flow">
                                <div>
                                    <img alt="..." src="assets/img/loyalty.png" class="" />
                                </div>
                                <div>
                                    <p class="flow-text capitalize">Analytics</p>
                                    <p class="flow-p text-center text-black-100 text-small">Assign survey to the new
                                        serial numbers you just requested</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-full lg:w-4/12 pt-1 text-center" (click)="goToTrack()" >
                        <div class="relative w-full mb-3">
                            <div class="card-selector card-selector-row flow">
                                <div>
                                    <img alt="..." src="assets/img/airtime.png" class="" />
                                </div>
                                <div>
                                    <p class="flow-text capitalize">tracking</p>
                                    <p class="flow-p text-center text-black-100 text-small">Track shipment details of
                                        assets you have just printed labels for</p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>


    </div>
</div>