<ngx-loading-bar height="4px" color="#46F7AA"></ngx-loading-bar>
<div >
  <!-- <app-sidebar></app-sidebar> -->
  <div class="relative md:ml-100 bg-blueGray-100 h-full py-8 " >
    <!-- <app-admin-navbar></app-admin-navbar> -->
    <app-anti-fake-nav></app-anti-fake-nav>
    <!-- <app-traceability-navbar></app-traceability-navbar> -->

      <!-- <app-header-stats></app-header-stats> -->
      <div class=" sm:my-8 md:my-8 mx-auto w-full  z-10 pt-12 ">

        <router-outlet></router-outlet>
        <app-footer-admin></app-footer-admin>
      </div>


  </div>
</div>
