<div class="my-16 w-100 px-16 h-screen">
    <div class="flex w-full px-16">

        <p class=" flex-1 text-2xl text-blueGray-700 font-bold ">Settings</p>

        

    </div>
    <br><br>
    <div class="flex">
        <div class="flex-1 bg-white rounded-2xl p-4 m-3">
            <div class="flex w-full px-16">

                <p class=" flex-1 text-2xl text-blueGray-700 font-bold ">Bussiness Account</p>
        
                <div class="w-full sm:ml-3 md:ml-2 lg:ml-2 flex-1 text-right">
        
        
                    <button
                        class="border border-blueGray-700 py-2 m-3 px-6 text-blueGray-700 transition-colors duration-150 rounded-lg focus:shadow-outline hover:bg-blueGray-600 hover:text-white  ">
                         Edit</button>
        
                </div>
        
            </div>

            <div class="flex w-full px-16 mt-6">

                <div>

                    <p class=" flex-1 text-blueGray-700 font-bold ">BUSINESS NAME</p>
                    <p>Fadeyi and Co Enterprise</p>
                </div>
        
                <div class="w-full sm:ml-3 md:ml-2 lg:ml-2 flex-1 text-right">
        
        
                    <p class=" flex-1 text-blueGray-700 font-bold ">BUSINESS EMAIL</p>
                    <p>adeyinkadaniel09@gmail.com</p>
        
                </div>
        
            </div>
            <div class="flex w-full px-16 mt-6">

                <div>

                    <p class=" flex-1 text-blueGray-700 font-bold ">BUSINESS ADDRESS</p>
                    <p>17 Akande street, Lagos state</p>
                </div>
        
                <div class="w-full sm:ml-3 md:ml-2 lg:ml-2 flex-1 text-right">
        
        
                    <p class=" flex-1 text-blueGray-700 font-bold ">BUSINESS PHONE NUMBER</p>
                    <p>08169400410</p>
        
                </div>
        
            </div>
            <div class="flex w-full px-16 mt-6">

                <div>

                    <p class=" flex-1 text-blueGray-700 font-bold ">OWNER FULL NAME</p>
                    <p>Fadeyi Bukola</p>
                </div>
        
                <div class="w-full sm:ml-3 md:ml-2 lg:ml-2 flex-1 text-right">
        
        
                    <p class=" flex-1 text-blueGray-700 font-bold ">OWNER PHONE NUMBER</p>
                    <p>08038747682</p>
        
                </div>
        
            </div>
            <div class="flex w-full px-16 mt-6">

                <div>

                    <p class=" flex-1 text-blueGray-700 font-bold ">OWNER EMAIL</p>
                    <p>joseluakande@gmail.com</p>
                </div>
        
               
        
            </div>
            
        </div>
        <div class="flex-1 bg-white rounded-2xl p-4 m-3">
            <div class="flex w-full px-16">

                <p class=" flex-1 text-2xl text-blueGray-700 font-bold ">Password</p>
        
                
        
            </div>
            <div class="bg-blueGray-200 rounded w-100 p-3 flex mx-16 mt-6" >
                <div class="text-red-700" >*</div>
                <input placeholder="Current Password" class="w-full bg-blueGray-200 border-none" />
                <div>
                    <i class="gg-eye"></i>
                </div>
            </div>
            <div class="bg-blueGray-200 rounded w-100 p-3 flex mx-16 mt-6" >
                <div class="text-red-700" >*</div>
                <input placeholder="New Password" class="w-full bg-blueGray-200 border-none" />
                <div>
                    <i class="gg-eye"></i>
                </div>
            </div>
            <div class="bg-blueGray-200 rounded w-100 p-3 flex mx-16 mt-6" >
                <div class="text-red-700" >*</div>
                <input placeholder="Confirm New Password" class="w-full bg-blueGray-200 border-none" />
                <div>
                    <i class="gg-eye"></i>
                </div>
            </div>

            <div class="my-4 px-16" >
                <button class="bg-blueGray-700 rounded-2xl text-white font-bold px-8 py-4 m-4" >Update</button>
                <button class="bg-white text-blueGray-700 font-bold px-8 py-4 m-4" >Cancel</button>
            </div>
            
        </div>
    </div>
</div>