

/*
@media screen and (max-width: 799px){
  .table-bg{
    background-color: white;
  }
}

@media screen and (min-width: 800px){
  .table-bg{
    background-color: #e4e4e7;
  }
} */

.modal-body{
  min-width: 500px !important;
}
