<div class="my-16 w-100 px-16">
    <div class="px-16  h-full">
        <p class="text-blueGray-700 font-bold my-16"><i class="fa">&#xf060;</i> &nbsp;Back</p>
        <p class="text-2xl text-blueGray-700 font-bold my-8" >Summary</p>
        <div class="bg-white rounded-2xl p-8 my-8">
            <p class="text-blueGray-700 text-lg my-4" >Assigned Campaign</p>
            <div class="bg-blueGray-200 rounded-3xl font-bold label text-center">
                <p class="px-4 py-3" >Airtime Campaign</p>
            </div>
            
        </div>
        <div class="bg-white rounded-2xl p-4 px-8 my-8">
            <p class="text-blueGray-700 text-lg my-4" >Airtime Campaign Setup</p>
            <div class="bg-blueGray-100 rounded-2xl font-bold  text-center py-4">
                <div class="grid grid-cols-4 gap-4 my-8 py-3 px-6">
                    <div class="text-blueGray-700 text-left" >
                        <small>Airtime Amount</small>
                        <p>100</p>
                    </div>
                    <div class="text-blueGray-700 text-left" >
                        <small>Total Winners</small>
                        <p>50</p>
                    </div>
                    <div class="text-blueGray-700 text-left" >
                        <small>Price</small>
                        <p>NGN 5000</p>
                    </div>
                    <div class="text-blueGray-700" >
                        
                        <p><span class="text-green-400" >EDIT</span> | <span class="text-blueGray-700" >VIEW</span></p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="bg-white rounded-2xl p-4 px-8 my-8">
            <p class="text-blueGray-700 text-lg my-4" >Assigned Survey</p>
            <div class="bg-blueGray-100 rounded-2xl font-bold  text-center py-4">
                <div class="grid grid-cols-3 gap-4 my-8 py-3 px-6">
                    <div class="text-blueGray-700 text-left" >
                        <small>Name</small>
                        <p>Survey 01</p>
                    </div>
                    <div class="text-blueGray-700 text-left" >
                        <small>Questions</small>
                        <p>100 Questions</p>
                    </div>
                    
                    <div class="text-blueGray-700" >
                        
                        <p><span class="text-green-400" >EDIT</span> | <span class="text-blueGray-700" >VIEW</span></p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="bg-white rounded-2xl p-4 px-8 my-8">
            <p class="text-blueGray-700 text-lg my-4" >Airtime Campaign Setup</p>
            <div class="bg-blueGray-100 rounded-2xl font-bold  text-center py-4">
                <div class="grid grid-cols-4 gap-5 my-8 py-3 px-6">
                    <div class="text-blueGray-700 text-left" >
                        <small>Name</small>
                        <p>Reward 01</p>
                    </div>
                    <div class="text-blueGray-700 text-left" >
                        <small>Reward Type</small>
                        <p>Loyalty Point</p>
                    </div>
                    <div class="text-blueGray-700 text-left" >
                        <small>Reward Point</small>
                        <p>50 Point</p>
                    </div>
                    <div class="text-blueGray-700 text-left" >
                        <small>Cashout Type</small>
                        <p>Cash Transfer</p>
                    </div>
                    <div class="text-blueGray-700" >
                        
                        <p><span class="text-green-400" >EDIT</span> </p>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="text-center" >
            <button class="label bg-blueGray-700 text-white font-bold rounded-2xl px-8 py-3" >Continue</button>
        </div>
    </div>
</div>