<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
        <div class="relative page-content px-8 flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded" ngClass="bg-white">
            <div class="block w-full overflow-x-auto px-4">
                <div class="flex mb-12 justify-center">
                    <h2 class="title"><span class="sap">Let's get you connected on SAP with </span>  <span class="chekkit">Chekkit's</span> SAP</h2>
                </div>
                   <div class="flex flex-wrap justify-center mb-12">

                    <div class="w-full justify-center  px-4 pt-1 text-center">
                        <div class="flex justify-center w-full mb-3">
                          <div class="" routerLink="#">
                              <div>
                                <img 
                                    alt="..."
                                    src="assets/img/dashboard.png" 
                                    class=""
                                />
                              </div>
                          </div>
                        </div>
                    </div>

                    <button [routerLink]="['/sap/request-serial']" type="submit" class="self-auto  ml-1 text-blueGray-600 font-bold px-12 py-4 rounded outline-blueGray-600  focus:outline-none mr-1 mb-1 bg-white text-sm shadow hover:shadow-lg ease-linear transition-all duration-150" >
                        Request Serial Number With Chekkit
                    </button>
            
                    </div>

                 
 
                </div> 
          
            
        </div>
        

    </div>
  </div>
  
