<div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
        <div class="relative page-content px-8 flex min-w-0 break-words w-full mb-6 shadow-lg rounded" ngClass="bg-white">
            <div class="block w-full overflow-x-auto px-4 mb-3">
                <div class="flex mb-12 justify-center">
                    <h2 class="title"><span class="sap">Subscription confirmed and
                        your account has been linked with Chekkit ATTP</span></h2>
                </div>
                           
                            <div class="flex flex-wrap justify-center">
                                <button [routerLink]="['/sap/request-serial']" type="submit" class="self-auto  ml-1 text-blueGray-600 font-bold px-12 py-4 rounded outline-blueGray-600  focus:outline-none mr-1 mb-1 bg-white text-sm shadow hover:shadow-lg ease-linear transition-all duration-150" >
                                    Proceed to Commissioning Serial Numbers
                                </button>
                            </div>
                            
            
                    </div>

                 
 
          
            
        </div>
        

    </div>
  </div>
  

  
