<div class="px-8 ">

  <div class="flex justify-between">
    <div class="flex-1 p-3">
      <p class="text-2xl font-semibold text-blueGray-700">Analytics</p>
    </div>
    <div class="flex-1 flex flex-row-reverse py-2">
      <div class="bg-blueGray-200 text-blueGray-500 flex rounded-md px-2 text-xs text-center">
        <span class="m-auto" >Today, 25th Jan 2023</span>
      </div>
      <span class="bg-blueGray-200 py-1 px-2 rounded-md mx-3 ">
        <i  class="fa">&#xf0f3;</i>
      </span>
      <input placeholder="search code order" class="bg-blueGray-200 rounded-md px-2 " />
    </div>
  </div>
  <div class="flex justify-between my-5">
    <div class="flex-1 p-3">
      <div class="flex justify-between ">
        <p class="text-blueGray-700 font-semibold text-md" >Product KPI</p>
        <select class="text-xs text-blueGray-500 py-1 px-2 border border-blueGray-300 rounded px-4 bg-blueGray-100 w-20">
          <option>weekly</option>
          <option>monthly</option>
          <option>yearly</option>
        </select>
      </div>
      <div class="flex border border-blueGray-300 rounded p-3 my-3 ">
        <div class="flex-1 flex">
          <img src="../../../../../assets/img/Frame 9.svg" width="50" alt="" srcset="">
          <div class="m-auto" >
            <p class="text-xs text-blueGray-500 " >Total Products</p>
            <p class="text-sm text-blueGray-800 font-semibold" >421</p>
          </div>
        </div>
        <div class="flex-1">
          <div class="flex-1 flex">
            <img src="../../../../../assets/img/Frame 10.svg" width="50" alt="" srcset="">
            <div class="m-auto" >
              <p class="text-xs text-blueGray-500 " >Total Batches</p>
              <p class="text-sm text-blueGray-800 font-semibold" >603</p>
            </div>
          </div>
        </div>
        <div class="flex-1">
          <div class="flex-1 flex">
            <img src="../../../../../assets/img/Frame 11.svg" width="50" alt="" srcset="">
            <div class="m-auto" >
              <p class="text-xs text-blueGray-500 " >Total Campaigns</p>
              <p class="text-sm text-blueGray-800 font-semibold" >301</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-1 p-3">
      <div class="flex justify-between ">
        <p class="text-blueGray-700 font-semibold text-md" >Order KPI</p>
        <select class="text-xs text-blueGray-500 py-1 px-2 border border-blueGray-300 rounded px-4 bg-blueGray-100 w-20">
          <option>weekly</option>
          <option>monthly</option>
          <option>yearly</option>
        </select>
      </div>
      <div class="flex border border-blueGray-300 rounded p-2 my-3 ">
        <div class="flex-1 flex">
          <img src="../../../../../assets/img/dashboard-icon4.png" width="60" alt="" srcset="">
          <div class="m-auto" >
            <p class="text-xs text-blueGray-500 " >Total Orders</p>
            <p class="text-sm text-blueGray-800 font-semibold" >720</p>
          </div>
        </div>
        <div class="flex-1">
          <div class="flex-1 flex">
            <img src="../../../../../assets/img/dashboard-icon5.png" width="60" alt="" srcset="">
            <div class="m-auto" >
              <p class="text-xs text-blueGray-500 " >Total Delivered</p>
              <p class="text-sm text-blueGray-800 font-semibold" >500</p>
            </div>
          </div>
        </div>
        <div class="flex-1">
          <div class="flex-1 flex">
            <img src="../../../../../assets/img/dashboard-icon6.png" width="60" alt="" srcset="">
            <div class="m-auto" >
              <p class="text-xs text-blueGray-500 " >Ongoing Deliveries</p>
              <p class="text-sm text-blueGray-800 font-semibold" >201</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-between my-4">
    <div class="basis-1/3 p-3">
      <div class="flex justify-between my-3">
        <p class="text-blueGray-700 font-semibold text-md" >Order Tracking</p>
        <p  >
          <span class="text-xs text-blueGray-500 py-1 px-2 border border-blueGray-300 rounded" >View All</span>
        </p>
      </div>
      <div class="border border-blueGray-300 rounded-md p-3" >
        <div class="flex justify-between">
          <div >
            <p class="text-blueGray-500 text-xxs" >Container Number</p>
            <p class="text-blueGray-800 font-semibold text-xs " > EV-2017002346</p>
            <p class="text-blueGray-500 text-xxs" >Secondary - Tertiary Package</p>
          </div>
          <div>
            <img src="../../../../../assets/img/lorry.png" width="100" alt="" srcset="">
          </div>
        </div>
        <hr>
        <div class="my-3" >
          <p class="text-xs font-semibold" >Serialized</p>
          <p class="text-xxs text-blueGray-500" >Ikeja, LA - January 25. 10:25am</p>
        </div>
        <div class="my-3" >
          <p class="text-xs font-semibold" >Commissioned</p>
          <p class="text-xxs text-blueGray-500" >Ikeja, LA - January 25. 10:25am</p>
        </div>
        <div class="my-3" >
          <p class="text-xs font-semibold" >Packed</p>
          <p class="text-xxs text-blueGray-500" >Ikeja, LA - January 26. 8:00am</p>
        </div>
        <div class="my-3" >
          <p class="text-xs font-semibold" >Shipped</p>
          <p class="text-xxs text-blueGray-500" >Ikeja, LA - January 27. 12:02am</p>
        </div>
        <div class="my-3" >
          <p class="text-xs font-semibold" >Received</p>
          <p class="text-xxs text-blueGray-500" >Ikeja, LA - January 27. 12:02am</p>
        </div>
        <div class="my-3" >
          <p class="text-xs font-semibold" >Unpacked</p>
          <p class="text-xxs text-blueGray-500" >Ikeja, LA - January 27. 12:02am</p>
        </div>
        <hr>
        <div class="flex justify-between my-4" >
          <div class="flex justify-between" >
            <img src="../../../../../assets/img/client.png" class="rounded-full mr-3"  alt="" srcset="">
            <div>
              <p class="text-blueGray-500 text-xxs font-semibold" >Client</p>
              <p class="text-xs text-blueGray-700 fot-semibold" >Daniel Adetokunbo</p>
              <p class="text-xs text-blueGray-700 fot-semibold" >Mariene, LTD</p>
            </div>
          </div>
          <div class="flex justify-between py-3 " >
            <p class="bg-blueGray-200 rounded p-2 " ><i  class="fa">&#xf095;</i></p> &nbsp;
            <p class="bg-blueGray-200 rounded p-2 " ><i  class="fa">&#xf27a;</i></p>
          </div>
        </div>
      </div>
    </div>
    <div class="basis-2/3 p-3">
      <div class="flex justify-between my-3">
        <p class="text-blueGray-700 font-semibold text-md" >Product Movement</p>
        <p  >
          <span class="text-xs text-blueGray-500 py-1 px-2 border border-blueGray-300 rounded" >View All</span>
        </p>
      </div>
      <div class="border border-blueGray-300 rounded-md p-3" >
        <div class="flex py-3 ">
          <div class="bg-green-200 p-4 rounded mb-6" ></div>
          <div class="ml-3" >
            <p class="text-blueGray-800 font-semibold text-sm" >Shipped Container</p>
            <p class="text-sm text-blueGray-500 my-1" >You shipped a container with sscc number <span class="text-blue-400" >EV-2017002346</span> from Makoko, LA to destination, Ikeja, LA</p>
            <p class="text-xxs text-blueGray-400 text-right" >25 minutes ago</p>
          </div>
        </div>
        <hr>
        <div class="flex py-3 ">
          <div class="bg-green-200 p-4 rounded mb-6" ></div>
          <div class="ml-3" >
            <p class="text-blueGray-800 font-semibold text-sm" >Shipped Container</p>
            <p class="text-sm text-blueGray-500 my-1" >You shipped a container with sscc number <span class="text-blue-400" >EV-2017002346</span> from Makoko, LA to destination, Ikeja, LA</p>
            <p class="text-xxs text-blueGray-400 text-right" >25 minutes ago</p>
          </div>
        </div>
        <hr>
        <div class="flex py-3">
          <div class="bg-violet-200 p-4 rounded mb-6" ></div>
          <div class="ml-3" >
            <p class="text-blueGray-800 font-semibold text-sm" >Shipped Container</p>
            <p class="text-sm text-blueGray-500 my-1" >You shipped a container with sscc number <span class="text-blue-400" >EV-2017002346</span> from Makoko, LA to destination, Ikeja, LA</p>
            <p class="text-xxs text-blueGray-400 text-right" >25 minutes ago</p>
          </div>
        </div>
        <hr>
        <div class="flex pt-2">
          <div class="bg-green-200 p-4 rounded mb-6" ></div>
          <div class="ml-3" >
            <p class="text-blueGray-800 font-semibold text-sm" >Shipped Container</p>
            <p class="text-sm text-blueGray-500 my-1" >You shipped a container with sscc number <span class="text-blue-400" >EV-2017002346</span> from Makoko, LA to destination, Ikeja, LA</p>
            <p class="text-xxs text-blueGray-400 text-right" >25 minutes ago</p>
          </div>
        </div>
        <hr>
        <div class="flex py-3 ">
          <div class="bg-green-200 p-4 rounded mb-6" ></div>
          <div class="ml-3" >
            <p class="text-blueGray-800 font-semibold text-sm" >Shipped Container</p>
            <p class="text-sm text-blueGray-500 my-1" >You shipped a container with sscc number <span class="text-blue-400" >EV-2017002346</span> from Makoko, LA to destination, Ikeja, LA</p>
            <p class="text-xxs text-blueGray-400 text-right" >25 minutes ago</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
  <div class="flex justify-between my-6">
    <p class="text-blueGray-700 font-semibold text-md" >Pin Assignment</p>
    <select class="text-xs text-blueGray-500 py-1 px-2 border border-blueGray-300 rounded px-4 bg-blueGray-100 w-20">

      <option>monthly</option>
      <option>yearly</option>
    </select>
  </div>
  <div class="" >
    <canvas id="myChart" ></canvas>
  </div>
  <br><br>
  <div class="flex justify-between my-3">
    <p class="text-blueGray-700 font-semibold text-md">Active Campaign</p>
    <select class="text-xs text-blueGray-500 py-1 px-2 border border-blueGray-300 rounded px-4 bg-blueGray-100 w-20">
      <option>weekly</option>
      <option>monthly</option>
      <option>yearly</option>
    </select>
  </div>
  <div class="border border-blueGray-300 rounded p-5 " >
    <p class="text-right my-4" >
      <span class="text-green-400 text-xxs mx-2" ><i  class="fa">&#xf111;</i></span><span class="text-blueGray-800 font-semibold text-xs" >Airtime</span>&nbsp;&nbsp;
      <span class="text-blueGray-800 text-xxs mx-2" ><i  class="fa">&#xf111;</i></span><span class="text-blueGray-800 font-semibold text-xs">Voucher</span>&nbsp;&nbsp;
      <span class="text-yellow-600 text-xxs mx-2" ><i  class="fa">&#xf111;</i></span><span class="text-blueGray-800 font-semibold text-xs" >Raffle Draw</span>
    </p>
    <br>
    <div class="flex">
      <div class="text-left text-blueGray-700 text-sm font-semibold flex-1" >
        Title
      </div>
      <div class="text-left text-blueGray-700 text-sm font-semibold flex-1 " >
        Start Date
      </div>
      <div class="text-left text-blueGray-700 text-sm font-semibold flex-1 " >
        Status
      </div>
      <div class="text-left text-blueGray-700 text-sm font-semibold flex-1 " >
        End Date
      </div>
      <div class="text-left text-blueGray-700 text-sm font-semibold flex-1 " >
        Campaign Type
      </div>
    </div>
    <div class="flex my-2 border-t border-blueGray-300 pt-3">
      <div class="text-left text-blue-500 text-xs  flex-1" >
        Campaign001
      </div>
      <div class="text-left text-blueGray-700 text-sm  flex-1 " >
        <p class="text-xs" >May 23 2020</p>
        <p class="text-xxs" >20:20pm</p>
      </div>
      <div class="text-left text-blueGray-700 text-sm  flex-1 " >
        <p class="text-xs" >Expires in <span class="text-red-400" >5:45</span></p>
      </div>
      <div class="text-left text-blueGray-700 text-sm flex-1 " >
        <p class="text-xs" >May 23 2020</p>
        <p class="text-xxs" >20:20pm</p>
      </div>
      <div class="text-left text-blueGray-700 text-sm  flex-1 " >
        Campaign Type
      </div>
    </div>
    <div class="flex my-2 border-t border-blueGray-300 pt-3">
      <div class="text-left text-blue-500 text-xs  flex-1" >
        Campaign001
      </div>
      <div class="text-left text-blueGray-700 text-sm  flex-1 " >
        <p class="text-xs" >May 23 2020</p>
        <p class="text-xxs" >20:20pm</p>
      </div>
      <div class="text-left text-blueGray-700 text-sm  flex-1 " >
        <p class="text-xs" >Expires in <span class="text-red-400" >5:45</span></p>
      </div>
      <div class="text-left text-blueGray-700 text-sm flex-1 " >
        <p class="text-xs" >May 23 2020</p>
        <p class="text-xxs" >20:20pm</p>
      </div>
      <div class="text-left text-blueGray-700 text-sm  flex-1 " >
        Campaign Type
      </div>
    </div>
    <div class="flex my-2 border-t border-blueGray-300 pt-3">
      <div class="text-left text-blue-500 text-xs  flex-1" >
        Campaign001
      </div>
      <div class="text-left text-blueGray-700 text-sm  flex-1 " >
        <p class="text-xs" >May 23 2020</p>
        <p class="text-xxs" >20:20pm</p>
      </div>
      <div class="text-left text-blueGray-700 text-sm  flex-1 " >
        <p class="text-xs" >Expires in <span class="text-red-400" >5:45</span></p>
      </div>
      <div class="text-left text-blueGray-700 text-sm flex-1 " >
        <p class="text-xs" >May 23 2020</p>
        <p class="text-xxs" >20:20pm</p>
      </div>
      <div class="text-left text-blueGray-700 text-sm  flex-1 " >
        Campaign Type
      </div>
    </div>
    <div class="flex my-2 border-t border-blueGray-300 pt-3">
      <div class="text-left text-blue-500 text-xs  flex-1" >
        Campaign001
      </div>
      <div class="text-left text-blueGray-700 text-sm  flex-1 " >
        <p class="text-xs" >May 23 2020</p>
        <p class="text-xxs" >20:20pm</p>
      </div>
      <div class="text-left text-blueGray-700 text-sm  flex-1 " >
        <p class="text-xs" >Expires in <span class="text-red-400" >5:45</span></p>
      </div>
      <div class="text-left text-blueGray-700 text-sm flex-1 " >
        <p class="text-xs" >May 23 2020</p>
        <p class="text-xxs" >20:20pm</p>
      </div>
      <div class="text-left text-blueGray-700 text-sm  flex-1 " >
        Campaign Type
      </div>
    </div>

  </div>
</div>
