
<div class="pt-20 text-center my-10">
    <p class="font-bold text-2xl text-blueGray-700">Kindly Select</p>
</div>

<div class="mx-4 md:px-32 lg:px-32 flex justify-between w-50 pt-12 md:pt-24">
    <div class="basis-2 border-2 border-blueGray-500 rounded-3xl p-8 hover:bg-slate-200 flex justify-between cursor-pointer" (click)="goToMas()" >
        <img src="../../../../../assets/img/gtin-scan.png" class="basis-1" width="80" alt="" srcset="">
        <div class="basis-3 px-6" >
            <p class="h2 font-semibold text-lg text-blueGray-700" >Mobile Authentication Scheme</p>
            <p class="mt-2 text-blueGray-500 text-base" >Assign survey to the new serial numbers you <br> just requested.</p>
        </div>
    </div>
    <div class="basis-2 border-2 border-blueGray-500 rounded-3xl p-8 hover:bg-slate-200 flex justify-between cursor-pointer "  >
        <img src="../../../../../assets/img/gtin-scan.png" class="basis-1" width="80" alt="" srcset="">
        <div class="basis-3 px-6" >
            <p class="h2 font-semibold text-lg text-blueGray-700" >Traceability</p>
            <p class="mt-2 text-blueGray-500 text-base" >Track and trace your product across supply<br> chain, gain insights on consumers and track <br>market diversions.</p>
        </div>
    </div>
</div>
