<ngx-loading-bar height="4px" color="#46F7AA"></ngx-loading-bar>
<div>
  <!-- <app-sidebar></app-sidebar> -->
  <div class="relative md:ml-100 ">
    
    <app-admin-navbar></app-admin-navbar>
  
    
    
      <!-- <app-header-stats></app-header-stats> -->
      <div class="px-4 md:px-10 mx-auto w-full pt-24 z-10 bg-blueGray-100 border-solid border-gray-300 border-t-2">

        <router-outlet></router-outlet>
        <app-footer-admin></app-footer-admin>
      </div>
    
    
  </div>
</div>